.word-search-viewer {
    width: 210mm;
    height: 297mm;
    zoom: 100%;
    border: 1px solid #b0b0b0;
    margin: 0.5cm;
    padding: 0.5cm;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 4px;

    .word-list {
        border: 2px solid #b0b0b0;
        border-radius: 8px;
        list-style: none;
        margin: 0;
        padding: 0.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 4cm;
        max-height: 4cm;
        justify-content: flex-start;
        align-content: flex-start;
        overflow: hidden;

        li {
            margin: 0.25rem 0;
            padding: 0 0.5rem;
            text-transform: uppercase;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 10pt;
        }

        margin-bottom: 0.5cm;
    }

    .lines {
        list-style: none;
        margin: 0;
        border: 2px solid #b0b0b0;
        border-radius: 8px;
        padding: 1rem;

        .line {
            .chars {
                margin: 0;
                padding: 0;
                min-height: 0.8cm;
                height: 0.8cm;
                list-style: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                .char {
                    margin: 0 auto;
                    border: 1px solid transparent;
                    text-align: center;
                    min-width: 0.8cm;
                    width: 0.8cm;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 12pt;
                    flex-grow: 0;
                }
            }
        }
    }
}

@media print {
    .word-search-viewer {
        margin: 0;
        padding: 0.5cm;
        border: none;
        box-shadow: none;
    }
}
